<%- include('../partials/head') %>
<footer
  class="bg-dark text-center text-white"
  style="position: fixed; height: 100px; bottom: 0; width: 100%;  background-color: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)); opacity: 0.4;"
>
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
      <br />
      <div class="copyright pd-5">
        <span>© 2021 Copyright : OSCAR | VIKRAM | SAURABH | SYED</span>
      </div>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
</footer>
