<nav>
    <select name="genre" id="genre">
        <option value="horror">Horror</option>
        <option value="thriller">Thriller</option>
        <option value="action">Action</option>
        <option value="comedy">Comedy</option>
        <option value="sci-fi">Sci-fi</option>
    </select>
    <input type="text" name="search" id="search" placeholder="Search">
    <button type="submit">Search</button>
    
    
    <a href="/login">Login</a>
    <a href="/">Home</a>
</nav>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="opacity: 0.6;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">MoviesDB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

  
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/movies">Movies</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-info"><a class="text-white" href="/userlogin">Login</a></button>

        </form>
      </div>
    </div>
  </nav>
