/* Login css */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  
  body{
    background:#eee;
    font-family:sans-serif;
  }
  
  .banner-area{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../assets/backgroundImage1.jpg);
    background-size:cover;
  }        
  
  .content-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #create-account {
    background-color: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 4px 4px;
  }
  
  #create-account> p > a{
    text-decoration: none;
    color: white;
  }
  
  #create-account> p > a:hover {
    color: aquamarine;
  }
  
  .loginButton:hover {
  color: #a0d6e0;
  }

