*{
 margin: 0px;
 padding: 0px;
}

body{
    background: linear-gradient(147deg, #000000 0%, #04619f 95%);
    color: whitesmoke;
}

img{
    border: 2px solid white;
}

#moviedetail{
    border: 2px solid white;
    margin-top: 25px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

nav{
    background: #004966;
    height: 60px;
    width: 100%;
}


nav select{
    height:45px;
    width: 150px;
    margin-left:30%;
    margin-top: 10px;
}

nav input{
    height:40px;
    width: 300px;
    margin-top: 10px;
}

nav button{
    background-color: darkblue; 
    background-image: linear-gradient(darkblue,blue); 
    border:2px solid yellow; 
    border-radius: 5px;
    color:whitesmoke;
    height:40px;
    width: 100px;
    margin-left:20px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 50px;
    font-size: 20px;
}
