*{
 margin: 0px;
 padding: 0px;
}

body{
    background: linear-gradient(147deg, #000000 0%, #04619f 95%);
    color: whitesmoke;
}

img{
    border: 2px solid white;
}

#moviedetail{
    border: 2px solid white;
    margin-top: 25px;
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: linear-gradient(147deg, #000000 0%, #04619f 95%);
}

#moviedescrpn{
    margin-left: 20px;
}

/* .bg-custom {
    background: #004966;
} */


p{
    font-size: 18px;
}