<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <!-- Css Link -->
    <link rel="stylesheet" href="/css/style.css">
<body>
    <%- include('../partials/header') %>
    <h1>Welcome to Our Movies App!!</h1>
    <br>
    <div class="movies"></div>
    <script src="/js/homepage.js"></script>
</body>
</html>