
<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <h1 style="margin: 50px">Welcome to homepage!!...</h1>

    <div id="movies"></div>
    <div>
      <!-- movie title -->

      <!-- movie poster -->
    </div>

    <%- include('../partials/footer') %>
    <script src="./js/allmovies.js"></script>
  </body>
</html>


