<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/singlemovie.css">
<body>
    <%- include('../partials/header') %>
    <div id="moviedetail">
        <h2 id="title"></h2>
        <br>
        <img id="movieimg" src="" alt="">
        <br>
        <h3>Overview</h3>
        <p id="overview"></p>
        <br>
        <h3>Tagline</h3>
        <p id="tagline"></p>
        <br>
        <h3>Genres</h3>
        <div id="genres"></div>
        <br>
        <h3>Release Date</h3>
        <p id="release_date"></p>
        <br>
        <h3>Runtime</h3>
        <p id="runtime"></p>
        <br>
        <script>const movie_id = <%=  movie_id %>; </script>
        <script src="/js/singlemovie.js"></script>
    </div>
</body>
</html>