<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <h2 id="title"></h2>
    <img id="movieimg" src="" alt="">
    <h2>Overview</h2>
    <p id="overview"></p>
    <div id="genre"><h2>Genres</h2></div>
    <script>const movie_id = <%=  movie_id %>; </script>
    <script src="/js/singlemovie.js"></script>
</body>
</html>