<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>

<div class="banner-area">
<form class="content-area shadow p-3 mb-5 rounded" method="GET" action="/movies">
  <h1 class="text-white text-center">Login</h1>
  <hr style="border: 1px solid gray;">
  <div class="content text-white">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" aria-describedby="email" style="width: 300px;">
  </div>
  <div class="content text-white">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" style="width: 300px;">
  </div><br>
  <div class="loginButton text-center">
  <button type="submit" class="btn btn-info">Login</button>
</div>
<hr style="border: 1px solid gray;">
  <div id="create-account">
    <p>Not a member?<span style="margin-right: 80px;"></span><a href="/userRegister">Create an Account</a><p>
  </div>
</form>
</div>
 
<%- include('../partials/footer') %>
</body>
</html>

  