

<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
<div class="banner-area">
    
<form class="content-area shadow p-3 mb-5 rounded" method="GET" action="/">
    <h1 class="text-white">Create an Account</h1>
    <hr style="border: 1px solid gray;">
    <div class="content text-white">
        <label for="fname" class="form-label">First Name</label>
        <input type="fname" class="form-control" id="fname" aria-describedby="fname" style="width: 300px;">
      </div>
      <div class="content text-white">
        <label for="lname" class="form-label">Last Name</label>
        <input type="lname" class="form-control" id="lname" aria-describedby="lname" style="width: 300px;">
      </div>
  <div class="content text-white">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" aria-describedby="email" style="width: 300px;">
  </div>
  <div class="content text-white">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" style="width: 300px;">
  </div>
  <div class="content text-white">
    <label for="confirmPassword" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPassword" style="width: 300px;">
  </div><br>
  <div class="registerButton text-center">
  <button type="submit" class="btn btn-info">Login</button>
</div>
<hr style="border: 1px solid rgb(163, 162, 162);">
  <div id="create-account">
    <p>Back to Login?<span style="margin-right: 150px;"></span><a href="/userlogin">Login</a><p>
  </div>
</form>
</div>


<%- include('../partials/footer') %>
</body>
</html>

  